{% extends 'base_generic.html' %}

{% block content %}
    <h1>PDFファイルを削除</h1>

    <p>PDFファイル: <a href="{{ pdfupload.upload.url }}">{{ pdfupload.file_name }}</a>を本当に削除しますか？</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="d-sm-inline-flex">
            <input class="btn btn-danger" type="submit" value="削除">
            <a class="btn btn-outline-secondary ms-5" href="{{request.META.HTTP_REFERER}}" role="button">キャンセル</a>
        </div>
    </form>
{% endblock %}