{% extends 'base_generic.html' %}

{% block active_home %}active{% endblock %}

{% block content %}
    <h2>サイト趣旨</h2>
    <p>このサイトはPDFファイルをアップロード・閲覧するためのものです。</p>
    <br>

    <div class="row">
        <h2>機能一覧</h2>
        <div class="list-group col-auto ms-2 mt-3">
            <a class="list-group-item list-group-item-action" href="{% url 'pdf_all' %}">PDFファイルの一覧を見る。</a>
            <a class="list-group-item list-group-item-action" href="{% url 'upload_pdf' %}">PDFファイルをアップロードする。</a>
        </div>
    </div>
{% endblock %}